
* {
  
	/*
	Nu verwijder je van alle elementen de automatische margin. Dit kan af en toe
	best handig zijn om deze nog wel te hebben, bijvoorbeeld bij <p>, <h1> en <ul>

	Als je de randen rondom je website wilt weghalen kun je de margin: 0 het beste
	op de body zetten
	*/
  box-sizing: border-box;
}
header, footer, article{
  display: block;
}

footer{
	height: 180px;
	background-color: #98ff98;
  width: 100%;
}

header {
  overflow: auto;
  height: 700px;
  width: 1200px;
}
main {
  
}

main, section, article, footer {
  padding: 20px;
  overflow: auto;
}
img {
	max-width: 100%;
	height: auto;
}
body{
  margin: 0;

}
.container {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  float: left;
  width: 100px;
  margin: 20px;
}

.hoofdmenu {
  float: right;
  width: 500px;
}

.hoofdmenu ul li {
  float: left;
  list-style: none;
  margin: 2px;
}

.voorstellingen {
  float: left;
  width: 60%;
}

.snelnaar{
	float: right;
	width: 60%;
}
.adresgegevens{
	float: left;
	width: 40%;
}

.afbeeldingheader{
	background: url('afbeeldingheader1.jpg') 0 0 no-repeat;
	overflow: auto;
	float-left: 100%;
}

.Lidworden{
	width: 1000px;
	padding: 10px;
	font-size: 20px;
}
aside {
  float: left;
  width: 40%;
}
.zin{
  margin: 10px;
  height: 400px;
  width: 300px;
  float: left;
 
}
.biest{
  margin: 10px;
  height: 400px;
  width: 300px;
  float: left;
}
.vrede{
  margin: 10px;
  height: 400px;
  width: 300px;
  float: right;
}
.moordkerststal{
  margin: 10px;
  height: 400px;
  width: 300px;
  float: right;
}











