
* {
  margin: 0;
	/*
	Nu verwijder je van alle elementen de automatische margin. Dit kan af en toe
	best handig zijn om deze nog wel te hebben, bijvoorbeeld bij <p>, <h1> en <ul>

	Als je de randen rondom je website wilt weghalen kun je de margin: 0 het beste
	op de body zetten
	*/
  box-sizing: border-box;
}
header, footer, article{
  display: block;
}

footer{
	height: 180px;
}

header {
  background: lightblue;
  overflow: auto;
}
main {
  background: yellow;
}
footer {
  background: lightblue;
}
main, section, article, footer {
  padding: 20px;
  overflow: auto;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  float: left;
  width: 40%;
  margin: 20px;
}

.hoofdmenu {
  float: right;
  width: 500px;
}

.hoofdmenu ul li {
  float: left;
  list-style: none;
  margin: 2%;
	/*
	het is handiger om margins op tekstelementen gewoon in pixels te definieren
	*/
}

.voorstellingen {
  float: left;
  width: 60%;
}

.snelnaar{
	float: right;
	width: 60%;
}
.adresgegevens{
	float: left;
	width: 40%;
}

aside {
  float: left;
  width: 40%;
}
